
    section.hero{
      grid-area: "hero";
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      //position: relative;
      color: white;
       h1{
      font-size: clamp(2.5rem, 8vw, 4rem);
      letter-spacing: 2px;
     // font-family: var(--main-font);
      text-align: center;
      margin: auto;
 }


.brand1, .brand2, .brand3, .brand4{
     max-width: 450px;
      height: 50vh;
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      margin: var(--space-4) 0px;
      display: flex;
      flex-direction: column;
      position: relative;
    

}
.brand1{
      background-image: url("./img/3.avif");
}
.brand2{
      background-image: url("./img/4.avif");
}
.brand3{
      background-image: url("./img/5.avif");
}
.brand4{
      background-image: url("./img/6.avif");
}



  
.svg {
     position : absolute;
      top: 2%;
      left: 6%;
       display: flex;
      flex-direction: column;
      align-items: center;
       h2{
            font-size: clamp(2.5rem, 4vw, 2rem);
            letter-spacing: 2px;
            line-height: 1.1;
            margin-bottom: 20px;
            font-weight: 500;
      }
}
}
.contenthero{
            position : absolute;
            top:67%;
            left: 10%;
                h2{
            font-size: clamp(2.5rem, 4vw, 2rem);
            letter-spacing: 2px;
            line-height: 1.1;
            margin-bottom: 20px;
            font-weight: 500;
      }

      a{
            text-decoration-line: none;
            text-transform: uppercase;
            color: var(--font-color);
            
      }
}

.contact{
      background-color: var(--secondary-color);
      color: var(--primary-color);
      display: flex;
      flex-direction: column;
      height: 60vh;
      position: relative;
      border-radius: 10px;
      .contactconnect{
            position:absolute;
            top:3%;
            left:7%;
            display: flex;
            gap:20px;
            flex-direction: column;
      }

      p{
      font-size: clamp(1.25rem, 4vw, 1.25rem);
      font-weight: 800;
      }
      h2{
      font-size: clamp(3rem, 6vw, 2.5rem);
      letter-spacing: 2px;
      }
      button{

            background-color: var(--primary-color);
            color: var(--font-color);
            border: none;
            padding: var(--space-2) 20px;
            border-radius: 5px;
            margin: 0px var(--space-8);
      }
}
    